@import "../../color.scss";

.search-box {
  background-color: $bg-white;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 40px;
  border-radius: 4px;
  overflow: hidden;
  margin: 1.5rem;
  margin-bottom: 0.75rem;
  text-decoration: none;
  box-shadow: 0 0.25rem 0.75rem rgba($color: $text-dark, $alpha: 0.0125);
  cursor: text;

  span {
    background-color: transparent;
    padding: 0.5rem 1rem;
    padding-right: 0;
    width: 100%;
    color: $text-dark;
  }

  img {
    width: auto;
    height: 16px;
  }
}
