@import "../../color.scss";

#cookbook {
  height: calc(100vh - 2.25rem - 40px - 54px);
  width: 100%;
  overflow-y: auto;
  padding: 0 1.5rem;
  padding-top: 0.75rem;

  .empty {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    margin-top: 60px;

    img {
      width: 60%;
      margin-bottom: 1rem;
    }

    .title {
      width: 100%;
      font-size: 1.25rem;
      font-weight: 600;
      margin-bottom: 0.25rem;
    }

    .message {
      color: $grey;
      line-height: 1.2em;
      margin-bottom: 1rem;
    }

    .btn {
      color: $red;
      font-weight: 600;
    }
  }
}
