@import "../../color.scss";

.action-button {
  width: 30px;
  height: 30px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba($color: $text-dark, $alpha: 0.4);
  backdrop-filter: blur(3px);
  cursor: pointer;
  transition: 0.3s;

  img {
    width: auto;
    height: 16px;
  }
}
